@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Share+Tech&family=Sixtyfour&display=swap');

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
}

body {
    background-color: #222831;
    text-align: center;
}

.header {
    background-color: #000050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo img {
    cursor: pointer;
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #59abf8;
}

.informacionPrincipal,
.informacionDeTodo {
    color: blanchedalmond;
    background-color: #345583;
    width: auto;
    height: auto;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

.informacion {
    color: blanchedalmond;
    background-color: #345583;
    width: auto;
    height: auto;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding-left: 55px;
}

.informacion img {
    padding-left: 25px;
}

h1 {
    color: blanchedalmond;
    margin-top: 50px;
    font-size: 250%;
}

h2 {
    color: blanchedalmond;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 150%;
}

li {
    text-align: left;
    margin: 10px;
    list-style: disclosure-closed;
}

.informacionPrincipal > ul > img {
    height: 250px;
    width: 500px;
    border-radius: 50px;
    align-self: flex-start;
}

.imgc,
.imgc2 {
    display: flex;
    height: 200px;
    width: 450px;
    align-items: flex-start;
}

.imgc {
    border-radius: 50px;
}

.imgc2 {
    border-radius: 150px;
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #000050;
    color: blanchedalmond;
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 100%;
}