@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

*{
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}

body{
    background-color: #222831;
    text-align: center;
}

.header{
    background-color: #000050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}


.header .logo img{
    cursor: pointer;
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;

}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover{
    transform: scale(1.1);
    transition: all 0.3s;
}

.header .nav-links a{
    font-size: 700;
    color: #eceff1;
    text-decoration: none;    
}

.header .nav-links li a:hover{
    color: #ffbc0e;
}

.informacion  {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.integrante1, .integrante2, .integrante3 {
    background-color: #345583;
    padding: 50px;
    color: blanchedalmond;
    font-weight: bold;
    border-radius: 15%;
}

h1{
    color: blanchedalmond;
    margin-top: 50px;
    font-size: 250%;
}

h2{
    color: blanchedalmond;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 150%;
}

li{
    text-align: left;
    margin: 10px;
    list-style: disclosure-closed;
}

.informacion > ul > img {
    height: 250px;
    width: 500px;
    border-radius: 50px;
    align-self: flex-start;    
}
.imgi {
    display: block;
    height: 200px;
    width: 450px;
    display: flex;
    align-items: start; 
    border-radius: 50px;
    margin-left: 5px;
}

.imgc {
    display: flex;
    height: 200px;
    width: 450px;
    display: flex;
    align-items: start; 
    border-radius: 50px;
}