@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Share+Tech&family=Sixtyfour&display=swap');

* {
    box-sizing: border-box;
    margin: auto;
    padding: 0;
    font-family: 'Share Tech', sans-serif;
    font-size: 20px;
}

body {
    background-color: #222831;
    text-align: center;
}

.header {
    background-color: #000050;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}


.header .logo img {
    cursor: pointer;
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
    transition: all 0.3s;
}

.header .nav-links a {
    font-size: 700;
    color: #eceff1;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #59abf8;
}

.informacion {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.integrante1, .integrante2, .integrante3 {
    background-color: #345583;
    padding: 50px;
    color: blanchedalmond;
    font-weight: bold;
    border-radius: 15%;
}

h1 {
    color: blanchedalmond;
    margin-top: 50px;
    font-size: 250%;
}

h2 {
    color: blanchedalmond;
    margin-top: 15px;
    margin-bottom: 25px;
    font-size: 150%;
}

li {
    text-align: left;
    margin: 10px;
    list-style: disclosure-closed;
}

.informacion > ul > img {
    height: 250px;
    width: 500px;
    border-radius: 50px;
    align-self: flex-start;
}

.imgi {
    display: block;
    height: 200px;
    width: 450px;
    align-items: start;
    border-radius: 50px;
    margin-left: 5px;
}

.imgc {
    display: flex;
    height: 200px;
    width: 450px;
    align-items: start;
    border-radius: 50px;
}

.Final {
    display: inline-block;
    animation: Gracias 2s infinite ease-in-out;
}

@keyframes Gracias {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
  0% { transform: rotate(0deg) scale(1); }
  25% { transform: rotate(2deg) scale(1.05); }
  50% { transform: rotate(0deg) scale(0.95); }
  75% { transform: rotate(-2deg) scale(1.05); }
  100% { transform: rotate(0deg) scale(1); }

   from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(1800deg) scale(1); 
  }
}

.Virus {
    position: absolute;
    animation: Virus-Volador 6s linear infinite;
}

.Virus-tarjeta > .Virus img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    height: 40px;
    width: auto;
}

@keyframes Virus-Volador {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(25vw, -10px);
    }
    50% {
        transform: translate(50vw, 10px);
    }
    75% {
        transform: translate(75vw, -10px);
    }
    100% {
        transform: translate(100vw, 0%);
    }
}

footer {
    margin-top: 50px;
    padding: 20px;
    background-color: #000050;
    color: blanchedalmond;
    font-size: 100%;
    padding-top: 40px;
    padding-bottom: 30px;
}